.top {
    border-bottom: 1px solid gray;
    font-size: 0.9rem !important;
    padding: .4375rem;
    justify-content: flex-start;
    position: relative;
}
.inner {
    display: flex;
    width: max-content;
}
.top button {
    border: none;
    position: relative;
    padding-right: .625rem;
    margin-right: .625rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;

}

/*设置所有子元素样式*/
.top  >* {
 flex-shrink: 0;
}


#exportImage:after{
    display: none;
}
.top button:after {
    position: absolute;
    content: '';
    height: .75rem;
    width: .0625rem;
    background-color: rgb(176, 173, 173);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.icon-home {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url("../images/icons.png");
    background-position: 0 calc(-3.3125rem * 1.25);
    background-size: 1.25rem auto;
}

.icon {
    display: inline-block;
    width: 1.4rem;
    height: 1.25rem;
    background-image: url("../images/icons.png");
    background-size: 1.25rem auto;
    background-repeat: no-repeat;

}

.icon-next {
    background-position: 0 calc(-4.4375rem * 1.25);
}

.icon-next-page {
    background-position: 0 calc(-5.625rem * 1.25);
}

.icon-last {
    background-position: 0 calc(-6.75rem * 1.25);
}

.icon-print {
    background-position: 0 calc(-10.125rem * 1.25);
}

.icon-print1 {
    background-position: 0 calc(-23.6875rem * 1.25);
}

.icon-download {
    background-position: 0 calc(-24.75rem * 1.25);
}

.icon-email {
    background-position: 0 calc(-25.92rem * 1.25);
}



#pageInfo {
    color: black;
    position: relative;
    padding-right: 1.875rem;
    font-size: 0.9rem;
}

#pageInfo:after {
    position: absolute;
    content: '';
    height: .625rem;
    width: .125rem;
    background-color: rgb(214, 214, 214);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

#pageInfo input {
    width: 3.125rem;
    height: 1.25rem;
    color: black;
    font-size: 0.9rem;
    border: 1px solid rgb(204, 205, 215);
    margin-right: .9375rem;
    border-radius: .3125rem;
}

.page-info {
    font-size: .75rem;
    margin-right: .625rem;
}


.filter {
    position: relative;
    filter: grayscale(20%);
    /*明度*/
    opacity: 0.6;
    color: gray;
}


